# Rust
/target/
**/*.rs.bk
*.pdb

# Builds
/dist/
/build/
*.exe
*.dll
*.lib
*.pdb
*.msi

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*~

# Logs
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example
